/**** global styles ****/
* {
    margin: 0;
    padding: 0
}

:root {
    --white: rgb(255 254 242);
    --pink: #F9D0C1;
    --grey: #737373;
    --darkgrey: #535353;
    /* --foggy: #a29e86ba; */
    /* --foggy: #867f578f; */
    --darkgreen: #3e4b48e6;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgreen);
    font-family: 'Lora', serif;
    color: var(--pink);
    font-size: 16px;
    /* es */
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    /* es */
}

/**** header styles ****/
header {
    width: 100%;
}

header h1 {
    margin: 0 0 2.5rem;
    font-family: 'Playball', cursive;
    font-size: 4.5rem;
    text-align: center;
    text-shadow: 2px 2px var(--darkgrey);
}

header h2 {
    font-size: 20px;
    text-align: center;
}

header h1,
header h2 {
    padding: 0 1rem;
}

.header-image {
    position: relative;
    width: 100%;
    background-image: url(./img/thanks_robots2.webp);
    background-position: center 38%;
    background-repeat: no-repeat;
    background-size: cover;
}

header .overlay {
    position: absolute;
    background-color: var(--darkgrey);
    opacity: .4;
}

.overlay {
    width: 100%;
    height: 100%;
}

.everything {
    position: relative;
    text-align: center;
    padding: 2rem 0 1rem;
    z-index: 1;
}

.toggle-nav {
    display: none;
}

nav ul li {
    display: inline-block;
    padding: 30px 30px 0;
    text-shadow: 1px 1px var(--darkgrey);
}

nav ul li::after {
    content: '';
    display: block;
    margin-top: .25rem;
    border: 1px solid var(--white);
    box-shadow: 1px 1px var(--darkgrey);
    opacity: 0;
}

nav ul li:hover::after {
    opacity: 1;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
    text-align: center;
}

.home {
    padding: 1.5rem;
}

.img-and-overlay {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 642px;
    margin: 0 auto;
}

.home-pic {
    display: block;
    width: 100%;
}

main .overlay {
    position: absolute;
    top: 0;
    background-color: var(--grey);
    opacity: .2;
}

/* eileen - start here, girl */

.about .words {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: row wrap;
}

.words p {
    width: 80%;
    padding: 80px 0;
    font-size: .9em;
    line-height: 1.75em;
    color: rgb(255 254 242);
}


.about .wedding-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: row wrap;
}

.wedding-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 6em;
}

.wedding-info h2,
h3 {
    width: 85%;
    border-top: 1px solid rgb(131, 131, 131);
    font-size: 1.2em;
    padding: .75em 0;
}

.wedding-info p {
    padding-bottom: 1.5em;
    line-height: 1.75;
    font-size: .8em;
    color: rgb(255 254 242);
}


/*============================================================
Photos
============================================================*/

.thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.thumbnails .img-container {
    position: relative;
    display: block;
    height: 295px;
    margin: 10px;
    width: 295px;
    cursor: pointer;
}

.thumbnails img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.carousel .modal {
    display: none;
    justify-content: center;
    align-items: center;
}

.carousel .modal.active {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #2e2e2ec4;
    z-index: 1;
}

.carousel .modal-img-container {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.carousel img {
    position: inherit;
    max-width: 100%;
    max-height: 95vh;
}

.carousel .controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.controls .move {
    margin: 1rem;
    font-size: 4rem;
    text-shadow: 2px 2px var(--darkgrey);
    cursor: pointer;
}

.registry {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.registry a {
    width: 250px;
    height: 125px;
    margin: 1rem;
    background-color: #eeeeee;
    border-radius: 2px;
}

.registry button {
    height: 100%;
    width: 150px;
    padding: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    cursor: pointer;
}

.target button {
    background-image: url("https://cdn.honeyfund.com/_assets/images/partners/registries/target.png");
}

.amazon button {
    background-image: url("https://cdn.honeyfund.com/_assets/images/partners/registries/amazon.png");
}

.honeyfund button {
    background-image: url("https://d2i1tcfj6z4y0e.cloudfront.net/assets/img/logo/logo-registered-primary-70.svg");
}

.travel, .rsvp {
    margin-top: 1.5rem;
}

.registry-iframe {
    width: 90vw;
    height: 3523px;
}

.rsvp .instructions {
    margin-top: 1.5rem;
    color: var(--white);
}

/*======================================================
Media Queries
======================================================*/

@media (min-width: 768px) {
    .toggle-nav {
        display: none;
    }

    ul {
        display: block;
    }
}

@media (max-width: 767px) {
    header h1 {
        margin: 0;
    }

    header h1,
    header h2 {
        padding: 1.5rem;
    }

    .toggle-nav {
        position: absolute;
        top: 1.5rem;
        display: flex;
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        padding-left: 1.5rem;
        font-size: 25px;
        color: var(--pink);
        text-shadow: 1px 1px var(--darkgrey);
        z-index: 1;
    }

    .close-nav {
        display: none;
    }

    nav ul {
        position: absolute;
        display: none;
        flex-direction: column;
        top: 0;
        width: 100%;
        height: 100vh;
        padding-top: 2rem;
        background-color: var(--darkgreen);
    }

    nav ul li {
        padding: 2.5rem 0;
    }

    nav ul li::after {
        display: none;
    }

    nav ul li a {
        font-size: 20px;
        color: var(--white);
        text-shadow: none;
    }

    .everything {
        padding: 1.5rem 0 2rem;
    }

    .carousel .modal-img-container {
        max-width: 95vw;
    }
}

/*======================================================
Desktop
======================================================*/

@media (min-width: 1200px) {

    /** homepage **/

    .about .words {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: row wrap;
    }

    .words p {
        width: 55%;
        padding: 80px 0;
        line-height: 2em;
        color: rgb(255 254 242);
    }

    .about .wedding-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: row wrap;
    }

    .wedding-info {
        display: flex;
        flex-direction: column;
        padding-bottom: 6em;
        ;
    }

    .wedding-info h2,
    h3 {
        width: 55%;
        border-top: 1px solid rgb(131, 131, 131);
        font-size: 1.6em;
        ;
        padding: .75em 0;
    }

    .wedding-info p {
        padding-bottom: 2em;
        line-height: 1.45;
        color: rgb(255 254 242);
    }

    /** insert other edits here **/
}