/**** global styles ****/
* {
  margin: 0;
  padding: 0
}

body {
    background-color: rgb(255 253 230);
    font-family: 'Lora', serif;
    color: #F9D0C1;
    font-size: 13px;
    letter-spacing: 1px;
}

/**** header styles ****/
header h1 {
    margin: 2.5rem 0;
    font-family: 'Playball', cursive;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px #535353;
}

header h2 {
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px #535353;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.header-image {
    position: relative;
    width: 100%;
    height: 31%;
    background-image: url(./img/thanks_robots2.png);
    background-position-y: -30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #737373;
    opacity: .5;
}

.everything {
    position: relative;
    text-align: center;
    z-index: 1;
}

nav {
    margin: 2.5rem 0;
}

nav ul li {
    display: inline-block;
    padding: 30px;
    text-shadow: 1px 1px #535353;
}

nav ul li:hover::after {
    content: '';
    display: block;
    margin-top: .25rem;
    border: 1px solid rgb(255 253 230);
    box-shadow: 1px 1px #535353;
}

nav ul li a { 
    text-decoration: none;
    color: rgb(255 253 230);
    font-size: 15px;
    text-align: center;
    /* padding-left: 60px; */
}